INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/QT/condorDir/condor_20200709_193153/test_MERGED_ISMC1_20200709.root
#/atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/QT/condorDir/condor_20200709_134308/test_MERGED_ISMC1_20200709.root

GLOBALTAG: EFF

DOJZWEIGHTS: 1
DOCENTWEIGHTS: 1

NCENTBINS: 7
CENTBINS: 0,10,20,30,40,50,70,90

NJTPTBINS: 30
JTPTBINSLOW: 20
JTPTBINSHIGH: 400

JTPTBINSLIN: 0
JTPTBINSLOG: 1