#This is a comment

INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/QT/user.cmcginn.GDJ.20200604.Job90.mc16_5TeV.Pythia8EvtGenOverlay_IncJZ2R04_testPYTHIAOverlay18_IncJZ2.root/user.cmcginn.21507293._000001.testPYTHIAOverlay18_IncJZ2.root
OUTFILENAME: test.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt

ISMC: 1
DOTRACKS: 1
DOTOWERS: 1

GHOSTAREA: 0.01

RECOJTMINPT: 10.0
GENJTMINPT: 10.0

JTMAXABSETA: 3.0
