#This is a comment

INFILENAME: REPINFILENAME
OUTFILENAME: test_PROCESS.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt

NEVTCAP: 1000

ISMC: 1
DOTRACKS: 1
DOTOWERS: 1

DOITERRHO: 1

GHOSTAREA: 0.005

CSDRJETBYJET: 10.	
CSDRGLOBAL: 0.25
CSDRGLOBALITER0: 0.25
CSDRGLOBALITER1: 0.15

RECOJTMINPT: 10.0
GENJTMINPT: 10.0

JTMAXABSETA: 3.0
