INFILENAME: output/20200716/test_MERGED_ISMC1_20200709_HIST_20200716.root
#INFILENAME: output/20200713/test_MERGED_ISMC1_20200709_HIST_20200713.root
CALOTRACKSTR: Trk
GLOBALTAG: IncJZ1to3

GLOBALLABEL.0:                   "#bf{#it{ATLAS Internal}} Simulation"
GLOBALLABEL.1:                   "Pythia 8"
GLOBALLABEL.2:                   "Pb+Pb data overlay"
GLOBALLABEL.3:                   "#sqrt{s_{NN}}=5.02 TeV"
GLOBALLABEL.4:                   "anti-k_{t} #it{R}=0.4 jets"

ALGOTOSKIP.0: TrkCSGlobalAlpha1IterRho0
ALGOTOSKIP.1: TrkCSGlobalIterAlpha1IterRho0
ALGOTOSKIP.2: TrkCSJetByJetAlpha1IterRho0

ALGONAMESUB.0: TrkNoSub,Unsubtracted
ALGONAMESUB.1: Trk4GeVCut,4 GeV p_{T} Cut
ALGONAMESUB.2: TrkCSJetByJetAlpha1IterRho1,CS Jet-by-jet
ALGONAMESUB.3: TrkCSGlobalAlpha1IterRho1,CS Global
ALGONAMESUB.4: TrkCSGlobalIterAlpha1IterRho1,CS Global Iter.

EFFMAX: 1.1
EFFMIN: 0.0
EFFLEGX: 0.2
EFFLEGY: 0.4
EFFLABELX: 0.55
EFFLABELY: 0.75
EFFLABELALIGNRIGHT: 1
EFFDOLOGX: 1
EFFWHITEBOX.0: 370,-0.1,410,-0.01 #Note this isnt ndc coord (annoying i know)
EFFDOALLLEG: 0
EFFPERMALEG.0: Cent70to90
EFFPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1

FAKEMAX: 1.1
FAKEMIN: 0.00001
FAKELEGX: 0.2
FAKELEGY: 0.97
FAKELABELX: 0.55
FAKELABELY: 0.95
FAKELABELALIGNRIGHT: 1
FAKEDOLOGX: 0
FAKEDOLOGY: 0
FAKEWHITEBOX.0: 370,-0.1,410,-0.01 #Note this isnt ndc coord (annoying i know)
FAKEDOALLLEG: 0
FAKEPERMALEG.0: Cent70to90
FAKEPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1

DELTAETASIGMAMAX: 0.11
DELTAETASIGMAMIN: 0.0
DELTAETASIGMALEGX: 0.19
DELTAETASIGMALEGY: 0.98
DELTAETASIGMALABELX: 0.55
DELTAETASIGMALABELY: 0.95
DELTAETASIGMALABELALIGNRIGHT: 1
DELTAETASIGMADOALLLEG: 0
DELTAETASIGMAPERMALEG.0: Cent70to90
DELTAETASIGMAPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1

DELTAPHISIGMAMAX: 0.11
DELTAPHISIGMAMIN: 0.0
DELTAPHISIGMALEGX: 0.19
DELTAPHISIGMALEGY: 0.98
DELTAPHISIGMALABELX: 0.55
DELTAPHISIGMALABELY: 0.95
DELTAPHISIGMALABELALIGNRIGHT: 1
DELTAPHISIGMADOALLLEG: 0
DELTAPHISIGMAPERMALEG.0: Cent70to90
DELTAPHISIGMAPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1

RECOOVERGENSIGMAMAX: 0.65
RECOOVERGENSIGMAMIN: 0.0
RECOOVERGENSIGMALEGX: 0.2
RECOOVERGENSIGMALEGY: 0.98
RECOOVERGENSIGMALABELX: 0.55
RECOOVERGENSIGMALABELY: 0.95
RECOOVERGENSIGMALABELALIGNRIGHT: 1
RECOOVERGENSIGMADOLOGX: 1
#RECOOVERGENSIGMAWHITEBOX.0: 370,-0.1,410,-0.01 #Note this isnt ndc coord (annoying i know)

RECOOVERGENSIGMADOALLLEG: 0
RECOOVERGENSIGMAPERMALEG.0: Cent70to90
RECOOVERGENSIGMAPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1


RECOOVERGENMEANMAX: 0.9
RECOOVERGENMEANMIN: 0.3
RECOOVERGENMEANLEGX: 0.33
RECOOVERGENMEANLEGY: 0.5
RECOOVERGENMEANLABELX: 0.55
RECOOVERGENMEANLABELY: 0.5
RECOOVERGENMEANLABELALIGNRIGHT: 1
RECOOVERGENMEANDOLOGX: 1
#RECOOVERGENMEANWHITEBOX.0: 370,-0.1,410,-0.01 #Note this isnt ndc coord (annoying i know)

RECOOVERGENMEANDOALLLEG: 0
RECOOVERGENMEANPERMALEG.0: Cent70to90
RECOOVERGENMEANPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1



RECOOVERGENMSIGMAMAX: 0.75
RECOOVERGENMSIGMAMIN: 0.1
RECOOVERGENMSIGMALEGX: 0.7
RECOOVERGENMSIGMALEGY: 0.98
RECOOVERGENMSIGMALABELX: 0.3
RECOOVERGENMSIGMALABELY: 0.95
RECOOVERGENMSIGMALABELALIGNRIGHT: 0
RECOOVERGENMSIGMADOLOGX: 0
RECOOVERGENMSIGMAWHITEBOX.0: 370,-0.1,410,-0.01 #Note this isnt ndc coord (annoying i know)

RECOOVERGENMSIGMADOALLLEG: 0
RECOOVERGENMSIGMAPERMALEG.0: Cent70to90
RECOOVERGENMSIGMAPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1

RECOOVERGENSUMMMAX: 70
RECOOVERGENSUMMMIN: 0
RECOOVERGENSUMMXMAX: 10
RECOOVERGENSUMMXMIN: -110
RECOOVERGENSUMMLEGX: 0.105
RECOOVERGENSUMMLEGY: 0.55
RECOOVERGENSUMMLABELX: 0.12
RECOOVERGENSUMMLABELY: 0.89
xRECOOVERGENSUMMLABELALIGNRIGHT: 0
RECOOVERGENSUMMWHITEBOX.0: 0.0,0.0,1.0,0.3

RECOOVERGENMMEANMAX: 0.9
RECOOVERGENMMEANMIN: 0.0
RECOOVERGENMMEANLEGX: 0.73
RECOOVERGENMMEANLEGY: 0.95
RECOOVERGENMMEANLABELX: 0.3
RECOOVERGENMMEANLABELY: 0.95
RECOOVERGENMMEANLABELALIGNRIGHT: 0
RECOOVERGENMMEANDOLOGX: 0
RECOOVERGENMMEANWHITEBOX.0: 370,-0.1,410,-0.01 #Note this isnt ndc coord (annoying i know)

RECOOVERGENMMEANDOALLLEG: 0
RECOOVERGENMMEANPERMALEG.0: Cent70to90
RECOOVERGENMMEANPERMALEG.1: TrkCSGlobalIterAlpha1IterRho1
